#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column;
}
input{
  width: 350px;
  /* height: 25px; */
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
/* .submit-button{
  padding: 10px;
  height: 40px;
  border: none;
  background-color: #646cff;
  border-radius: 5px;
  outline: none;
} */
